# Standard Android Build Files
*.iml
.gradle/
/local.properties
/build/
/app/build/
/captures/
.externalNativeBuild/
.cxx/

# OS Specific
.DS_Store

# Android Studio / IntelliJ
.idea/

# CRITICAL SECURITY (Do not remove)
*.jks
*.keystore
key.properties
google-services.json